[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
werdich-cfr = {editable = true,path = "."}
pandas = "*"
pyarrow = "*"
scikit-learn = "*"
python-dotenv = "*"
jupyterlab = "*"
xlrd = "*"
bokeh = "*"
matplotlib = "*"
opencv-python = "*"
ipywidgets = "*"
tensorrt = {path = "/home/andreas/TensorRT-6.0.1.5/python/tensorrt-6.0.1.5-cp36-none-linux_x86_64.whl"}
uff = {path = "/home/andreas/TensorRT-6.0.1.5/uff/uff-0.6.5-py2.py3-none-any.whl"}
graphsurgeon = {path = "/home/andreas/TensorRT-6.0.1.5/graphsurgeon/graphsurgeon-0.4.1-py2.py3-none-any.whl"}
pycrypto = "*"

[requires]
python_version = "3.6"
