[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
werdich-cfr = {editable = true,path = "."}
pandas = "*"
pyarrow = "*"
scikit-learn = "*"
python-dotenv = "*"
jupyterlab = "*"
xlrd = "*"

[requires]
python_version = "3.6"
